<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from flatfull.com/themes/first/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Feb 2019 15:57:37 GMT -->

<head>
    <meta content="application/json">
</head>
<body>
<script>
    $(document).ready(function () {

        //window.history.forward();
        // function noBack() { window.history.forward(); }
        // $('#body').onload(function () {
        //     alert('body loaded');
        //     noBack();
        // });
        // function disableBack() {
        //     window.history.forward()
        // }
        //
        // window.onload = disableBack();
        // window.onpageshow = function (evt) {
        //     if (evt.persisted) disableBack();
        // }
        //alert('hi');
        $(document).on('click', '#btnSignIn', function (e) {
            e.preventDefault();
            var new_password = document.getElementById("new_password");
            new_password = new_password.value;
            var chg_password = document.getElementById("chg_password");
            chg_password = chg_password.value;

            // alert("Button click called: Email: " + email + " Password: " + password);
            if(new_password===chg_password)
            {
                $.ajax({
                    url: "http://localhost:3000/institute/changePasswordAjax",
                    cache: false,
                    method: "post",
                    data: {new_password: new_password},
                    success: function (data) {
                        // alert('Hello');
                        if (data.msg === "Session Expired") {
                            window.location.replace('/');
                        }
                        if (data.success && data.msg != null) {
                            alert("MSG: " + data.msg);
                            window.location.replace('/institute/home');
                        }
                        // else if (data.success && data.msg == null) {
                        //      window.location.replace('/dashboard');
                        //      window.location.replace('/institute/home');
                        // }
                        //alert("Success:Id "+data.sessionData);

                    },
                    error: function (data) {
                        alert("Error in data : " + data.msg);
                        // window.location.reload();
                        $('#lblError').text("Technical error !!" + data.msg);
                    }
                });
            }
            else
            {
                alert("Password and current password does not matched");
            }

        });
    });

</script>
<section id="content">
    <div class="main padder">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 m-t-large">
                <section class="panel">
                    <header class="panel-heading text-center">Change Password</header>
                    <form action="" class="panel-body" autocomplete="off">
                        <div class="text-danger">
                            <label id="lblError"></label>
                        </div>
                        <div class="block">
                            <label class="control-label">Password</label>
                            <input type="password" id="new_password" placeholder="New Password" class="form-control">
                        </div>
                        <div class="block">
                            <label class="control-label">Password</label>
                            <input type="password" id="chg_password" placeholder="Confirm Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-info" id="btnSignIn">Change Password</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</section>

</body>
<!-- Mirrored from flatfull.com/themes/first/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 06 Feb 2019 15:57:46 GMT -->
</html>