<section id="content">
    <section class="main padder">
        <div class="clearfix"><h4></h4></div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading"><i class="fa fa-table"></i> Schedule List</header>
                    <div class="panel-body">
                        <div class="row text-small">
                            <a class="btn btn-sm btn-info" data-toggle="modal" id="callingModalForm"
                               href="#scheduleForm"
                               style="margin-left: 10px;">
                                <i class="fa fa-fw fa-plus"></i> Create New Schedule
                            </a>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped b-t text-small" id="tblData">
                            <thead>
                            <tr>
                                <th width="20">
                                    <input type="checkbox">
                                </th>
                                <th class="th-sortable" data-toggle="class" style="text-align: center">Student Name

                                </th>
                                <th style="text-align: center">Enrollment</th>
                                <th style="text-align: center">Email</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                            </tr>
                            <!--<tr>-->
                            <!--<td>-->
                            <!--<input type="checkbox" name="post[]" value="3"></td> <td>Formasa</td> <td>8c</td> <td>Jul 22, 2013</td> <td> <a href="#" data-toggle="class"><i class="fa fa-check fa-lg text-success text-active"></i><i class="fa fa-times fa-lg text-danger text"></i></a> </td> </tr> <tr> <td><input type="checkbox" name="post[]" value="4"></td> <td>Avatar system</td> <td>15c</td> <td>Jul 15, 2013</td> <td> <a href="#" class="active" data-toggle="class"><i class="fa fa-check fa-lg text-success text-active"></i><i class="fa fa-times fa-lg text-danger text"></i></a> </td> </tr> <tr> <td><input type="checkbox" name="post[]" value="4"></td> <td>Throwdown</td> <td>4c</td> <td>Jul 11, 2013</td> <td> <a href="#" class="active" data-toggle="class"><i class="fa fa-check fa-lg text-success text-active"></i><i class="fa fa-times fa-lg text-danger text"></i></a> </td> </tr> <tr> <td><input type="checkbox" name="post[]" value="5"></td> <td>Idrawfast</td> <td>4c</td> <td>Jul 7, 2013</td> <td> <a href="#" class="active" data-toggle="class"><i class="fa fa-check fa-lg text-success text-active"></i><i class="fa fa-times fa-lg text-danger text"></i></a> </td> </tr> <tr> <td><input type="checkbox" name="post[]" value="6"></td> <td>Formasa</td> <td>8c</td> <td>Jul 3, 2013</td> <td> <a href="#" class="active" data-toggle="class"><i class="fa fa-check fa-lg text-success text-active"></i><i class="fa fa-times fa-lg text-danger text"></i></a> </td> </tr> <tr> <td><input type="checkbox" name="post[]" value="7"></td> <td>Avatar system </b></td> <td>15c</td> <td>Jul 2, 2013</td> <td> <a href="#" class="active" data-toggle="class"><i class="fa fa-check fa-lg text-success text-active"></i><i class="fa fa-times fa-lg text-danger text"></i></a> </td> </tr> <tr> <td><input type="checkbox" name="post[]" value="8"></td> <td>Videodown</td> <td>4c</td> <td>Jul 1, 2013</td> <td> <a href="#" class="active" data-toggle="class"><i class="fa fa-check fa-lg text-success text-active"></i><i class="fa fa-times fa-lg text-danger text"></i></a> </td> </tr> </tbody>-->
                        </table>
                    </div>
                </section>
            </div>
        </div>

        </div>
    </section>
</section>


<style>
    .updateClass {

    }

    .deleteClass {

    }
</style>


<script src="/javascripts/Admin/js/fuelux/fuelux.js"></script>
<script src="/javascripts/Admin/js/underscore-min.js"></script> <!-- datatables -->
<script src="/javascripts/Admin/js/datatables/jquery.dataTables.min.js"></script>
<script src="/javascripts/Admin/js/select2/select2.min.js"></script>
<script src="/javascripts/Admin/js/datepicker/bootstrap-datepicker.js"></script>
<script src="/javascripts/Admin/js/AJAX/instituteSchedule.js"></script>

<div id="scheduleForm" class="modal fade">
    <form class="m-b-none" action="#" id="uploadForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="btnFormModal" data-dismiss="modal"><i
                            class="fa fa-times"></i></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Schedule here</h4></div>

                <div class="modal-body">
                    <div class="text-danger">
                        <label id="lblError"></label>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label class="control-label">Game</label>
                            <select name="gameName" id="gameName" class="form-control">

                            </select>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label">Gender</label>
                            <select name="gender" id="gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Fe-Male">Fe-Male</option>
                                <option value="Both">For Both</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-5">
                            <label class="control-label">Venue</label>
                            <input type="text" id="scheduleVenue" name="scheduleVenue" class="form-control"
                                   placeholder="Schedule Venue">
                            <div class="text-danger">
                                <label class="" id="lblErrorForScheduleVenue"></label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label class="control-label">Date</label>
                            <input type="date" id="scheduleDate" name="scheduleDate" class="form-control">
                            <div class="text-danger">
                                <label class="" id="lblErrorForScheduleVenue"></label>
                            </div>
                        </div>

                        <!--<div class="col-md-5">-->
                        <!--<label class="control-label">Date</label>-->
                        <!--<input type="text" id="scheduleDate" name="scheduleDate" class="form-control datepicker" data-date-format="dd-mm-yyyy" >-->
                        <!--<div class="text-danger">-->
                        <!--<label class="" id="lblErrorForScheduleDate"></label>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>

                    <!--<div class="block">-->
                    <!--<label class="control-label">Content</label>-->
                    <!--<textarea class="form-control" placeholder="Content" rows="5"></textarea>-->
                    <!--</div>-->
                    <!--<div class="checkbox"><label> <input type="checkbox"> Share with all memebers of first </label>-->
                </div>
            </div>
            <div class="modal-footer">
                <!--data-dismiss="modal"-->
                <button type="submit" id="modalButton" class="btn btn-sm btn-default">Save</button>

                <!--<button type="button" class="btn btn-sm btn-primary" data-loading-text="Publishing...">Publish-->
                <!--</button>-->
            </div>

        </div><!-- /.modal-content -->
    </form>
</div>





