<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/stylesheets/Admin/font.css">
    <!--<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/Admin/app.v2.css" type="text/css"/>
    <!--[if lt IE 9]>

    <script src="/javascripts/Admin/js/ie/jquery.grid-a-licious.min.js"></script>
    <script src="/javascripts/Admin/js/ie/respond.min.js"></script>
    <script src="/javascripts/Admin/js/ie/html5.js"></script>
    <script src="/javascripts/Admin/js/ie/excanvas.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
</head>
<body id="body">

<!-- header -->
<header id="header" class="navbar">

    <a class="navbar-brand" href="#"><label style="font-size: 20px;">Sports Management System</label></a>

</header>
<!-- / header -->
<!-- nav -->




{{{body}}}






<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>&copy; 2019, Developed By Jay Gandhi</small>
            <br><br>
            <a href="#"
                                                                                                                class="btn btn-xs btn-circle btn-facebook"><i
                class="fa fa-facebook"></i>
            </a>
        </p>
    </div>
</footer>
<a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
<!-- / footer --> <!-- Bootstrap --> <!-- app --> <!-- Sparkline Chart --> <!-- Easy Pie Chart -->
<script src="/javascripts/Admin/js/app.v2.js"></script>
</body>
</html>